body {
	background-color: #3b3746;
}
.hide {
	visibility: hidden !important;
}
.initImage {
	opacity: .3;
}
.loadedImage {
	opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#options{
	width: 960px;
	height: 20px;
	margin: 60px auto 5px;
}
#output{
	float: right;
	color: #fff;
	font-weight: bold;
}
#img{
	width: 960px;
	height: 600px;
	margin: 0 auto;
	background-color: #49444d;
	border-radius: 5px;
	text-align: center;
}
#img span {
	color: #9a9aaa;
	text-align: center;
	font-size: 200px;
	line-height: 600px;
}
#navigation{
    opacity: 0;
	width: 960px;
	margin: 0px auto;
	text-align: center;
    position: relative;
    top: -300px;
    z-index: 999;

}
#navigation:hover{
    opacity: .6;
}

/* start navigation button */
.nRight,
.nLeft {
    color: #333;
    display: inline-block;
    font: normal bold 134px Arial,sans-serif;
    position: relative;
    text-decoration: none;
    width: auto;
}
.nRight {
    float: right;
}
.nLeft {
    float: left;
}
.nRight { text-align: right }
.nRight:before,
.nRight:after,
.nLeft:before,
.nLeft:after {
    background: #333;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    content: "";
    display: block;
    height: 0.5em;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1em;
}
.nLeft:before, .nLeft:after { left: 0 }
.nRight:before, .nLeft:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nRight:after,
.nLeft:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nLeft:after,
.nRight:before { margin-top: -.36em }

.nRight:hover,
.nRight:focus,
.nLeft:hover,
.nLeft:focus { color: #8f8b88; }

.nRight:hover:before,
.nRight:hover:after,
.nLeft:hover:before,
.nLeft:hover:after { background: #8f8b88;}
/* end navigation button */

/* start ajax loader icon */
.ajaxloader:after
{
	content:'';
	position: absolute;
	width: 30px;
	height: 30px;
	left: 50%;
	top: 40%;
	margin-left: -30px;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 25px 2px #eee;
	box-shadow: 0 0 25px 2px #eee;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
@keyframes spin
{
from {
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	opacity: 0.2;
}
 50% {
   	-moz-transform: rotate(180deg);
   	-ms-transform: rotate(180deg);
   	transform: rotate(180deg);
   	opacity: 1.0;
 }
 to {
   	-moz-transform: rotate(360deg);
   	-ms-transform: rotate(360deg);
   	transform: rotate(360deg);
   	opacity: 0.2;
 }
}
@-webkit-keyframes spin
{
from {
	-webkit-transform: rotate(0deg);
	opacity: 0.2;
}
 50% {
    -webkit-transform: rotate(180deg);
   	opacity: 1.0;
 }
 to {
    -webkit-transform: rotate(360deg);
   	opacity: 0.2;
 }
/* end ajax loader icon */


